.tarea-completada {
  text-decoration: line-through;
  color: gray;
}

.btn-confirmar{
  margin-left: 8px;
  color: rgb(53, 165, 59);
  font-size: 16px;
  cursor: pointer;
}

.btn-eliminar {
  margin-left: 8px;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

